.nav-container {
    display: flex;
    width: 100vw;
  }
  
  .nav-container > * {
    justify-content: space-between;
  }

  .brand-img {
    height: 60px;
  }

  .me-auto > * {
    color: white;
  }