.content {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}

label {
    margin-right: 5px;
}

.align-left {
    text-align: left;
}

a {
    font-weight:400;
    text-decoration: none !important;
    color:black;
}

a > * {
    color: black;
}
  
  a:hover {
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

  .card-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
  }

  .img-wrapper {

  }
  
  .card-img {
      padding: 10px;
      width: 100%;
      height: auto;
  }

  span.badge {
      margin-right: 5px;
  }

  .btn-danger {
      margin-right: 5px;
  }